
.searchBar {
    line-height: 0;
    border-bottom: 1px solid var(--brandColorsContrastDark);
    background-color: var(--brandColorsContrastNeutral);
    display: flex;
}

.searchInput {
    flex-grow: 1;
    /* magic number, sorry */
    padding-left: 32px;
}

.placeholderIcon {
    position: absolute;
    left: var(--spacing);
    line-height: 40px !important;
}
